[submodule "TMCStepper"]
	path = TMCStepper
	url = https://github.com/teemuatlut/TMCStepper.git
	branch = master
[submodule "Encoder"]
	path = Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
	branch = master
[submodule "FastAccelStepper"]
	path = FastAccelStepper
	url = https://github.com/gin66/FastAccelStepper.git
	branch = master
[submodule "HX711"]
	path = HX711
	url = https://github.com/bogde/HX711.git
